/*ALL IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');



/*NAV BAR*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
    cursor: url(images//iconmonstr-cursor-4-24.png), auto;
}

li, a, button {
    font-family:'Work Sans', sans-serif;
    font-weight:800;
    font size:16px;
    color: rgb(255,255,255) ;
    text-decoration: none;
}

.navcont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    color: rgb(21, 128, 228);
    cursor: url(images/iconmonstr-cursor-5-24.png), auto;
    transition: all 0.3s ease 0s;
}

button {
    padding: 9px 25px;
    background-color: rgba(21, 128, 228, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(21, 128, 228, 0.6);
}